*,
* + * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}



.skills-wrapper {
  margin-block: 4em;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three equal columns */
  gap: 2em; /* Space between cards */
 justify-content: space-between;
}

/* Optional: Ensure responsiveness */
@media (max-width: 1024px) {
  .skills-wrapper {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (max-width: 640px) {
  .skills-wrapper {
    grid-template-columns: 1fr; /* One column for small screens */
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18em;
  min-height: 24rem;
  padding: 1em;
  background: #faf0e6;
  border-radius: 1em;
}

.card:hover {
  height: 17em;
}

.image {
  position: absolute;
  inset: 0.5em 0.5em 0em 0.5em;
}

.card:hover .image {
  position: absolute;
<<<<<<< HEAD
  inset: -4em 6em 0em 6em;
=======
  inset: -4em 2em 0em 6em;
>>>>>>> 0fc6a3fa273efb2a3493559b35411c29c215d63b
}

img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.8em;
}

.card:hover img {
  border: 0.5em solid #171412;
  border-radius: 1.2em;
}

<<<<<<< HEAD

=======
>>>>>>> 0fc6a3fa273efb2a3493559b35411c29c215d63b

.card:hover p {
  transition-delay: 0.15s;
  top: 6em;
  opacity: 1;
}

.button {
  position: absolute;
  bottom: 0.4em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.25em 1em;
  background: #ffa565;
  border-radius: 4em;
}

.card:hover .button {
  bottom: -1.3em;
  padding: 0.5em 2em;
  outline: 0.5em solid #171412;
}
